@charset "UTF-8";

    * {
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    body {
        background-color: black;
    }

    div#assistir {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    div#play2{
        display: inline-block;
        color: black;
        background-color: rgb(216, 132, 174);
        width: 112px;
        height: 28px;
        position: absolute;
        top: 95%;
        left: 28%;
        border-radius: 3px;
        text-align: center;
        font-size: 1.3em;
    
        
    }